replicaCount: 1

image:
  repository: amanpandey3956/todo-frontend
  tag: latest
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 80

containerPort: 80

serviceAccount:
  create: false
  name: ""

